{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react-app"
  ],
  "plugins": [
    "proposal-async-generator-functions",
    "transform-class-properties"
  ]
}
